.navbar {
    padding: 5px;
    margin: 0;
    
}

.banner {
    text-align: center;
    position: relative;
    /* height: 550px; */
    margin: 0;
    padding: 20px;
    /* background: black; */
    /* background-image: url("../images/nasa.jpg"); */
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center; */
    
}